@using System.Web.Optimization
@model List<EastBancTestAssignment.KnapsackProblem.UI.MVC.ViewModels.BackpackTaskViewModel>

<div class="vertical-space">
    <h1 class="col-md-2">Task List</h1>
    @*    <button class="btn btn-default pull-right" type="button">New Task</button>*@
    <a href="@Url.Action("NewBackpackTask", "Backpack")" class="btn btn-success pull-right">New Task</a>
</div>


<div class="">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Task Id</th>
            <th>Task Name</th>
            <th>Backpack Weight Limit</th>
            <th>Best Item Price</th>
            <th>Percent Of Complete</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Count > 0)
        {
            foreach (var task in Model)
            {
                <tr onclick="location.href = '@(Url.Action("Details", "Backpack", new { Id = task.Id }))'" id="@task.Id">
                    <th>@task.Id</th>
                    <th>@task.Name</th>
                    <th id="weight">@task.WeightLimit</th>
                    <th id="price">@task.BestPrice</th>
                    <th id="percantage">@task.PercentComplete%</th>
                    <th id="staus">@task.Status</th>
                    <th>
                        <div class="text-center">
                            <a href="@Url.Action("Delete", "Backpack", new {id = task.Id})" class="btn btn-danger">Delete</a>
                        </div>
                    </th>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/signalr");
    <script src="~/signalr/hubs"></script>
}